<head>
<style>
  body {
      background: white;
      font-family: arial;
      color: #666666;

	  }

	  h3 {
	  		text-align: center;
	  		color: black;
	  		font-family: arial;
	  	}
	  	
 	nav {
 			margin: auto;
 			align-content: center;
	  		text-align: center;
	  	}

	  p {
	  		text-align: center;
	  		color: #666666;
	  		font-family: arial;

	  	}

	  h4 {
	  		text-align: center;
	  		color: #666666;
	  		font-family: arial;

	  		}

	  span { 
	  		color: #00cc44;
	  	}

	  	a:link, a:visited {
		    background-color: #00cc44;
		    color: white;
		    padding: 14px 25px;
		    text-align: center;
		    text-decoration: none;
		    display: inline-block;
		    font-family: arial;
		}


		a:hover, a:active {
	    	background-color: #b3ffcc;
		}

		ul {
			text-align: center;
			font-family: arial;
			color: #666666;
			list-style-type: none;
		}

 		footer {
	  		text-align: center;
	  		color: #666666;
	  		font-family: arial;
	  		}

	  h6 {
	  		text-align: center;
	  		color: #666666;
	  		font-family: arial;
	  	}

	  	.about {
			margin: auto;
			overflow:scroll; 
			height:600px; 
			width: 600px;
			border: 3px dotted #00cc44;
			padding-top: 5px;
			padding-left: 5px;
			padding-right: 5px;
			padding-bottom: 5px;
	  		}

	  	.portfoliobar {
			margin: auto;
			overflow:scroll; 
			height:600px; 
			width: 600px;
			border: 3px dotted #00cc44;
			padding-top: 5px;
	  		}

	  	.citipix {
		    margin: auto;
		    width: 546px;
		    height: 325px;
		    padding-bottom: 5px;
		    padding-top: 5px;
		    padding-left: 5px;
		    padding-right: 5px;
		    border: 3px solid white;
		}

		.relaxr {
		    margin: auto;
		    width: 541px;
		    height: 402px;
		    padding-bottom: 5px;
		    padding-top: 5px;
		    padding-left: 5px;
		    padding-right: 5px;
		    border: 3px solid white;
	  	}

		.matchmaker {
		    margin: auto;
		    width: 543px;
		    height: 438px;
		    padding-bottom: 5px;
		    padding-top: 5px;
		    padding-left: 5px;
		    padding-right: 5px;
		    border: 3px solid white;
	  	}

	  	.copyright {
	  		text-align: center;
	  		color: #666666;
	  		font-family: arial;
			font-size: 10px;	  		
	  	}

</head>